name: coverage

on:
  push:

env: 
  CARGO_TERM_COLOR: always

jobs:
  build:
    env: 
      SCCACHE_GHA_ENABLED: "true"

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: DeterminateSystems/nix-installer-action@v16
    - uses: DeterminateSystems/magic-nix-cache-action@v8

    - uses: mozilla-actions/sccache-action@v0.0.6

    - name: build & test
      run: |
        nix develop --command meson setup build -Db_coverage=true
        nix develop --command just test
    - name: coverage
      run:  nix develop --command just coverage
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        files: build/coverage.info
        token: ${{ secrets.CODECOV_TOKEN }}
    - name: Upload tests
      uses: codecov/test-results-action@v1
      with:
        files: build/meson-logs/testlog.junit.xml
        token: ${{ secrets.CODECOV_TOKEN }}
